body, html{
    /* The image used */
    background-image: url("/assets/images/bg.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;

    /* Font */
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #666; 
    opacity: 0.5;
}

header h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #C0C0C0; 
    opacity: 0.5;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}

h3 {
    color: white;
}

p {
    color: white;
}

nav ul li {
    display: inline;
    padding: 0;
    margin-left: 1rem;
}

footer {
    background-color: #666; 
    opacity: 0.5;
    margin-top: 1rem;
    border-top: 1px solid #EEE;
}

#explanation {
    color: white;
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 20px;
}

#diagram {
    text-align: center;
    width: 100%;
    margin: auto;
}

#diagram img {
    width: 80%;
    box-shadow: -2px 2px 6px #666;
}

#data {
    margin: 20px 0 20px 0;
    background-color: #666;
    width: 80%;
    padding: 20px;
    border-collapse: collapse;
}

#data thead {
    text-align: left;
    background-color: #333;
    color: white;
}

#data td, #data th {
    padding: 10px;
}

#data tbody tr:hover {
    background-color: #999;
}
